<section class="hotels" {{ orderBy_expression | orderBy : expression : reverse : comparator}}>
    <div class="container">
      <div class="heading">
        <h2>Search Your Hotel</h2>
      </div>
      <div class="row top-pad">
        <div class="filter">
          <div class="col-md-9 col-sm-9">
            <p>Total Nights : 5</p>
            
          </div>
  
          <div class="col-md-9 col-sm-9 pull-right">
            <ul class="filter-list">
              <li>
                <input id="checkbox-1" class="checkbox-custom" name="checkbox-1" type="checkbox" checked="">
                <label for="checkbox-1" class="part-time checkbox-custom-label">Part Time</label>
              </li>
  
              <li>
                <input id="checkbox-2" class="checkbox-custom" name="checkbox-2" type="checkbox">
                <label for="checkbox-2" class="full-time checkbox-custom-label">Full Time</label>
              </li>
  
              <li>
                <input id="checkbox-3" class="checkbox-custom" name="checkbox-3" type="checkbox">
                <label for="checkbox-3" class="freelancing checkbox-custom-label">Freelancing</label>
              </li>
  
              <li>
                <input id="checkbox-4" class="checkbox-custom" name="checkbox-4" type="checkbox">
                <label for="checkbox-4" class="internship checkbox-custom-label">Internship</label>
              </li>
  
            </ul>
          </div>
        </div>
      </div>
      <div class="hotels">
        <div class="hotel-list">
          <div class="row">
            <div class="col-md-8 col-sm-8">
              <div class="hotel-content">
                <h3>Media One Hotel</h3>
                <p><span
                    class="hotel-location"><i class="fa fa-map-marker"></i>City: Dubai</span><span class="package"><i class="fa fa-money"></i>Price : 102.2</span></p>
              </div>
            </div>
            <div class="col-md-2 col-sm-2">
              <button type="submit" class="btn book-hotel" name="book hotel">book hotel</button>
            </div>
          </div>
        </div>
  
        <div class="hotel-list">
          <div class="row">
            <div class="col-md-8 col-sm-8">
              <div class="hotel-content">
                <h3>Rotana Hotel</h3>
                <p><span
                    class="hotel-location"><i class="fa fa-map-marker"></i>City: Cairo</span><span class="package"><i class="fa fa-money"></i>Price : 80.6</span></p>
              </div>
            </div>
            <div class="col-md-2 col-sm-2">
              <button type="submit" class="btn book-hotel" name="book hotel">book hotel</button>
            </div>
          </div>
        </div>
  
        <div class="hotel-list">
          <div class="row">
            <div class="col-md-8 col-sm-8">
              <div class="hotel-content">
                <h3>Le Meridien</h3>
                <p><span
                    class="hotel-location"><i class="fa fa-map-marker"></i>City: London</span><span class="package"><i class="fa fa-money"></i>Price : 89.6</span></p>
              </div>
            </div>
            <div class="col-md-2 col-sm-2">
              <button type="submit" class="btn book-hotel" name="book hotel">book hotel</button>
            </div>
          </div>
        </div>
  
        <div class="hotel-list">
          <div class="row">
            <div class="col-md-8 col-sm-8">
              <div class="hotel-content">
                <h3>Golden Tulip</h3>
                <p><span
                    class="hotel-location"><i class="fa fa-map-marker"></i>City: Paris</span><span class="package"><i class="fa fa-money"></i>Price : 109.6</span></p>
              </div>
            </div>
            <div class="col-md-2 col-sm-2">
              <button type="submit" class="btn book-hotel" name="book hotel">book hotel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>